.container.testimonials__container {
   width: 40%;
   word-wrap: break-word;
   white-space: pre-wrap;
   padding-bottom: 4rem;
}

.client__avatar {
    width: 6rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/* Media Queries (Medium devices) */

/* @media screen and (max-width: 1024px) { */
@media screen and (min-width: 481px) and (max-width: 1023px) {
    .container.testimonials__container {
        width: 60%;
    }
 }
 
 /* Media Queries (Small devices) */
 
 /* @media screen and (max-width: 600px) { */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .container.testimonials__container {
        width: var(--container-width-sm);
    }

    .client__review {
        width: var(--container-width-sm);
    }
 }